.lt_container .lt_main .lt_nav {
    padding: 10px;
}
.lt_container .lt_main .lt_nav ul li {
    float: left;
    width:33.3%;
}
.lt_container .lt_main .lt_nav ul li a {
    display:block;
}
.lt_container .lt_main .lt_product {
    padding:10px;
}
.lt_container .lt_main .lt_product ul li {
    float: left;
    width:48%;
    margin-bottom:20px;
}
.lt_container .lt_main .lt_product ul li:nth-child(2n+1) {
    margin-right:4%;
}
.lt_container .lt_main .lt_product ul li a {
    display:block;
    padding:10px;
    border: 1px solid #000;
    border-radius:5px;
    text-align: center;
}
.lt_container .lt_main .lt_product ul li .oldPrice {
    text-decoration: line-through;
  }
  .lt_container .lt_main .lt_product ul li .price {
    color: #FF5D5D;
  }